html{
    width: 100%;
    height: 100%;
}



body{
 display: flex;
 width: 100%;
 height:100%;

}



.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

}



.main{
    width: 89%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.busca{
    width: 100%;
    height: 6%;
    display: flex;
    flex-direction: row-reverse;

}

.page{
    width: 98%;
    height: 95%;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    background-color: white;
   
   
}

.identifica{
  width: 99%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;

 




}

.alinha{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   background-color: #D8D9DA
}






.usuario{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-left: 2px solid  #D8D9DA;
}




.lista{
 width: 99%;
 height: 90%;
 margin-top: 2vh;
 flex-direction: column;
 display: flex;

}








.rounded-circle{
    height: 40px !important;
}