html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}

body {
    display: flex;
    width: 100vw;
    height: 100vh;

}

h2 {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #e6e8f5;
}


.CaixaOcorrencia {
    color: #2f2f5e;
    margin-top: 1%;
    width: 100%;
    height: 99vh;
    display: flex;
    flex-direction: column;
}

.Ocorrencias {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.OcorrenciasHeader {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px black solid;
}


.OcorrenciasMain {
    width: 100%;
    height: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;

}

.OcorrenciasLista {
    width: 100%;
    height: 59vh;
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    justify-content: flex-start;
    margin-top: 1%;
}

.OcorrenciasAndamento {
    width: 100%;
    height: 38vh;
    display: flex;
    flex-direction: column;
    border: 2px solid black;

}

.AndamentoHeader {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px black solid;
}

.AndamentoMain {
    width: 100%;
    height: 85%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    display: flex;

}

.AndamentoLista {
    width: 100%;
    height: 30vh;
    max-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    justify-content: flex-start;
}

.AndamentoItem {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.menu {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grafico {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.reunioes {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-left: -0.6vw;
}

.ReunioesHeader {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px black solid;
}

.MainBottom {
    width: 59%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.BoxBottom {
    margin-top: 1%;
    margin-left: 1%;
    height: 38%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.UserBottom {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.botoes {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
}

.btn {
    background-color: #5757cf;
}

.btn img {
    width: 60px;
    vertical-align: middle;
    height: auto;
}
